<footer class="justify-center bg-transparent text-white py-5 text-center">
    <p class="bg-transparent text-center mx-auto">
        &copy; {new Date().getFullYear()} Todos los derechos
        reservados.
    </p>
</footer>