
<footer class="justify-center bg-black/90 text-white py-5 text-center">
    <div class="w-full mx-auto max-w-screen-xl p-4 flex items-center md:justify-center">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">&copy; {new Date().getFullYear()} <a class="text-customGreen" href="https://instagram.com/leoocaba" target="_blank" rel="noopener noreferrer">@leoocaba</a> Todos los derechos
        reservados.</span>
    </div>
</footer>
