
<footer class="flex w-full justify-center bg-black/90 text-white py-5 text-center px-0">
    <div class="w-full mx-auto max-w-screen-xl p-4 flex items-center justify-center">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">&copy; {new Date().getFullYear()} <a class=" text-customGreen text-center" href="https://instagram.com/leoocaba" target="_blank" rel="noopener noreferrer">@leoocaba</a> Todos los derechos
        reservados.</span>
    </div>
</footer>
