---

---

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const sections = document.querySelectorAll("section");
        const navLinks = document.querySelectorAll(".__nav-link");
        const headerOffset = 100; 
        let isScrolling = false; 

        const handleScroll = () => {
            if (isScrolling) return;

            let currentSection = "";

            sections.forEach((section) => {
                const sectionTop = section.offsetTop - headerOffset;
                const sectionBottom = sectionTop + section.offsetHeight;

                
                if (
                    window.scrollY + headerOffset >= sectionTop &&
                    window.scrollY + headerOffset < sectionBottom
                ) {
                    currentSection = section.getAttribute("id") as string;
                }
            });

            
            navLinks.forEach((link) => {
                link.classList.remove("active");
                if (link.getAttribute("href") === `#${currentSection}`) {
                    link.classList.add("active");
                }
            });

            
            const newUrl = `#${currentSection}`;
            if (history.state?.currentSection !== currentSection && currentSection) {
                history.replaceState({ currentSection }, "", newUrl);
                    }
                };

                const handleClick = (e: Event) => {
                    e.preventDefault();
                    isScrolling = true; 

                    const target = e.currentTarget as HTMLElement;
                    if (!target) return;
                    const targetId = target?.getAttribute("href")?.substring(1);
                    if (targetId) {
                        const targetSection = document.getElementById(targetId);

                        if (targetSection) {
                            
                            const targetPosition = targetSection.offsetTop - headerOffset;
                            window.scrollTo({
                                top: targetPosition,
                                behavior: "smooth",
                            });

                            
                            navLinks.forEach((link) => link.classList.remove("active"));
                            if (e.currentTarget) {
                                (e.currentTarget as HTMLElement).classList.add("active");
                            }

                            
                            const newUrl = `#${targetId}`;
                            history.replaceState({ currentSection: targetId }, "", newUrl);

                            
                            setTimeout(() => (isScrolling = false), 700);
                        }
                    }
                };

                
                navLinks.forEach((link) => {
                    link.addEventListener("click", handleClick);
                });

                
                window.addEventListener("scroll", handleScroll);
            });
        </script>
          


<header
    class="sticky top-0 z-50 flex justify-center bg-black shadow-emerald-50 w-full px-0 py-3 mx-auto md:px-4"
>
    <nav
        class="container px-4 py-3 mx-auto flex flex-col md:flex-row items-center justify-between space-y-4 md:space-y-0"
    >
        <!-- Logo -->
        <a href="/lcaballero-portfolio/" class="flex items-center">
            <img
                src="img/LogoLC.svg"
                alt="Logo"
                class="filter drop-shadow-[0_4px_6px_rgba(255,255,255)] h-10"
            />
        </a>

        <ul
        class="flex flex-row flex-wrap justify-center items-center gap-4 text-white text-center md:gap-8 pt-5 md:py-auto"
      >
        <li class="flex justify-center">
          <a
            href="#inicio"
            class="active __nav-link px-2 py-1 whitespace-nowrap hover:text-customGreen"
            >Inicio</a
          >
        </li>
        <li class="flex justify-center">
          <a
            href="#sobre-mi"
            class="__nav-link px-2 py-1 whitespace-nowrap hover:text-customGreen"
            >Sobre mí</a
          >
        </li>
        <li class="flex justify-center">
          <a
            href="#experiencia"
            class="__nav-link px-2 py-1 whitespace-nowrap hover:text-customGreen"
            >Experiencia</a
          >
        </li>
        <li class="flex justify-center">
          <a
            href="#proyectos"
            class="__nav-link px-2 py-1 whitespace-nowrap hover:text-customGreen"
            >Proyectos</a
          >
        </li>
      </ul>
      
      
    </nav>
</header>
