<header class="bg-transparent shadow-md px-4 py-3">
    <nav
        class="container mx-auto px-4 py-3 flex flex-col md:flex-row items-center justify-between space-y-4 md:space-y-0"
    >
        <!-- Logo -->
        <a href="/" class="flex items-center">
            <img
                src="/img/LogoLC.svg"
                alt="Logo"
                class="filter drop-shadow-[0_4px_6px_rgba(255,255,255)] h-10"
            />
        </a>

        <!-- Menú de navegación -->
        <ul
            class="grid grid-cols-3 gap-4 justify-center items-center text-white text-center md:flex md:flex-row md:space-x-8 md:space-y-0 mt-4"
        >
            <li class="flex justify-center">
                <a href="#inicio" class="hover:text-green-600 transition-all"
                    >Inicio</a
                >
            </li>
            <li class="flex justify-center">
                <a
                    href="#experiencia"
                    class="hover:text-green-600 transition-all">Experiencia</a
                >
            </li>
            <li class="flex justify-center">
                <a href="#proyectos" class="hover:text-green-600 transition-all"
                    >Proyectos</a
                >
            </li>
            <li class="flex justify-center">
                <a href="#acerca" class="hover:text-green-600 transition-all"
                    >Sobre mí</a
                >
            </li>
            <li class="flex justify-center">
                <a href="#contacto" class="hover:text-green-600 transition-all"
                    >Contacto</a
                >
            </li>
        </ul>
    </nav>
</header>
