---
import "@fontsource-variable/onest";
import "../styles/global.css";
import "../scripts/global.js";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
    title: string;
    description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content={description} />
        <link rel="shortcut icon" href="img/code.ico" type="image/x-icon" />
        <script src="/src/scripts/global.js" defer></script>

        <title>iDev - {title || "Inicio"}</title>
    </head>
    <body
        class="justify-center min-h-screen grid grid-rows-[auto_1fr_auto] md:grid-rows-[auto_minmax(400px,1fr)_auto] bg-custom-radial"
    >
        <!-- Header -->
        <Header />

        <main
            class="container mx-auto justify-center p-0 my-auto bg-transparent"
        >
            <slot />
        </main>

        <!-- Footer -->
        <Footer />
    </body>
</html>
