---
import "@fontsource-variable/onest";
import "../styles/global.css";
import "../scripts/global.js";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
    title: string;
    description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html class="scroll-smooth overflow-y-scroll scrollbar-thin scrollbar-thumb-customGreen scrollbar-track-gray-300 scrollbar-rounded w-full p-0 m-0" lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content={description} />
        <link rel="shortcut icon" href="img/code.ico" type="image/x-icon" />
        <script src="/src/scripts/global.js" defer></script>

        <title>iDev - {title || "Inicio"}</title>
    </head>
    <body
        class="bg-custom-radial mx-auto px-auto"
    >
        <!-- Header -->
        <Header />

        <main
            class="container w-full bg-transparent md:px-4 lg:px-1"
        >
            <slot />
        </main>

        <!-- Footer -->
        <Footer />
    </body>
</html>
